---
import ThreePanel from '../layouts/ThreePanel.astro';
import ViewerContent from '../components/ViewerContent.vue';
import { getMangaEpisodes } from '../lib/mangaData';

const mangaEpisodes = getMangaEpisodes();
---

<ThreePanel title="Viewer">
	<div class="w-full max-w-[560px] border border-base-300 bg-base-100">
		<ViewerContent
			client:only
			mangaEpisodes={mangaEpisodes}
		/>
	</div>
</ThreePanel>