/* 旧 FC2 mocode.css — .vintage-menu 内にのみ適用 */
.vintage-menu label {
	background: olivedrab;
	color: #fff;
	padding: 10px;
	display: block;
	margin: 0;
	border: 1px solid #fff;
}

.vintage-menu input[type='checkbox'].on-off {
	display: none;
}

.vintage-menu .menu ul {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin: 0;
	padding: 0;
	list-style: none;
}

.vintage-menu .menu li {
	background: yellowgreen;
	color: #fff;
	padding: 5px;
	display: block;
	margin: 0;
	border: 1px solid #fff;
}

.vintage-menu .menu input[type='checkbox'].on-off + ul {
	height: 0;
	overflow: hidden;
}

.vintage-menu .menu input[type='checkbox'].on-off:checked + ul {
	height: auto;
	overflow: visible;
}
